<!DOCTYPE html>
<html>
  <head>
    <title>AbuelosApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p><%= current_user.email %></p>
      <%= link_to 'salir', destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
