<div class="container-block contenedor_index py-5 mb-4">
    <div class="col-lg-10 mx-auto">
      <div class="row align-items-center h-100 mx-auto">
        <div class="col-lg-8">
          <h2 class="pt-4"><b>Malones Patiperros</b></h2>
          <h5>Porque la diversión no tiene edad...</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
          <button class="btn btn-default"><a href="malones.html">¡Ver últimos Malones!</a></button>
        </div>
      </div>
    </div>
</div>

<!-- Talleres -->
<div class="container py-5">
  <div class="row">
    <div class="col-lg-12 mx-auto mb-2 ">
      <h3 class="pb-2 h3linea">Últimos <b>talleres</b> publicados</h3>
    </div>
    <div class="col-lg-8">
      <p>Revisa los últimos talleres que han sido publicados y que están disponibles para inscripción.</p>
    </div>

    <div class="col-lg-12">
      <div class="row justify-content-center">
        <% @events.each do |event|%>
        <div class="card m-3" style="width: 18rem;">
          <img class="card-img-top" src="<%= asset_path event.image %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">T<%= event.title%></h5>
            <label class="lbl-ubicacion"><i class="fas fa-map-marker-alt mr-2"></i>Santiago Centro</label>
            <p class="card-text"><%= event.content %></p>
            <%= link_to 'Ver más información', event, class: 'btn btn-default' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= link_to 'New Event', new_event_path %>
