<div class="container py-5">
  <div class="row">
    <div class="col-lg-4">
      <img class="card-img" src="<%= asset_path @event.image %>">
    </div>
    <div class="col-lg-8">
      <h3>Malón Fiesta</h3>
      <!-- Datos curso -->
      <label class="lbl-ubicacion mr-2"><i class="fas fa-map-marker-alt mr-2"></i> <%= @event.address %> </label>
      <label class="lbl-ubicacion mr-2"><i class="fas fa-user-clock mr-2"></i> <%= @event.date %></label>
      <label class="lbl-ubicacion mr-2"><i class="fas fa-clock mr-2"></i> <%= @event.hour.to_formatted_s(:time) %></label>
      <label class="lbl-ubicacion mr-2"><i class="fas fa-phone mr-2"></i> <%= @event.phone %></label>
      <p><%= @event.content %></p>

    </div>
  </div>
  <%= link_to 'Back', events_path, class: "btn btn-primary btn-sm" %>

  <% if user_signed_in? %>
    <% if current_user.id == @event.user_id %>
    <%= link_to 'Edit', edit_event_path, class: "btn btn-warning btn-sm" %>
    <%= link_to 'Delete', destroy_path(@event), method: :delete, class: "btn btn-danger btn-sm" %>
    <% end %>
    <% end %>
</div>
