<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @event.content %>
</p>

<p>
<strong>Imagen</strong>
<%= @event.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @event.phone %>
</p>

<%= link_to 'Back', events_path, class: "btn btn-primary btn-sm" %>

<% if user_signed_in? %>
  <% if current_user.id == @event.user_id %>
  <%= link_to 'Edit', edit_event_path, class: "btn btn-warning btn-sm" %>
  <%= link_to 'Delete', destroy_path(@event), method: :delete, class: "btn btn-danger btn-sm" %>
  <% end %>
<% end %>
