<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @event.phone %>
</p>

<%= link_to 'Back', events_path %>
